<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/css/element-ui.css">
</head>
<body>
    <div id="app">
        <el-form style="margin-left: 20px;margin-top: 20px" :inline="true" :model="search" class="demo-form-inline">
            <el-form-item label="会议室编号">
                <el-input v-model="search.valueOne" placeholder="请输入会议室编号"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="initList()"> <i class="fa fa-search"></i> 查询</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="clearSearch()"> <i class="el-icon-refresh-left"></i> 重置</el-button>
            </el-form-item>
        </el-form>

        <el-table
                :data="tableData"
                border>
            <el-table-column
                    prop="date"
                    label="序号">
                <template slot-scope="scope">
                    {{scope.$index+1}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="编号">
            </el-table-column>
            <el-table-column
                    prop="title"
                    label="会议标题">
            </el-table-column>
            <el-table-column
                    prop="meetingDate"
                    label="会议日期">
            </el-table-column>
            <el-table-column
                    prop="startTime"
                    label="开始时间">
            </el-table-column>
            <el-table-column
                    prop="endTime"
                    label="结束时间">
            </el-table-column>
            <el-table-column
                    label="预约人">
                <template slot-scope="scope">
                    <el-tag type="success">{{scope.row.emp.name}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    label="会议室名称">
                <template slot-scope="scope">
                    <el-tag type="success">{{scope.row.meetingMake.name}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    label="预约状态">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.status==='ACTIVE'" type="success">有效</el-tag>
                    <el-tag v-if="scope.row.status==='INACTION'" type="danger">无效</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="150">
                <template slot-scope="scope">
                    <el-button
                            v-if="scope.row.status==='ACTIVE'"
                            size="mini"
                            type="danger"
                            @click="handleEdit(scope.row.id)">取消</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="search.pageNumber"
                :page-sizes="[5,10]"
                :page-size="search.pageCount"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
</body>
</html>
<link rel="stylesheet" href="../../styles/css/font-awesome.min.css">
<script src="../../styles/js/vue.js"></script>
<script src="../../styles/js/element.js"></script>
<script src="../../styles/js/axios.js"></script>
<script src="../../styles/js/httpRequest.js"></script>
<script>
    new Vue({
        el:"#app",
        data:function (){
            return{
                form:{},
                controller:'meeting',
                tableData:[],
                search:{
                    pageNumber:1,
                    pageCount:5
                },
                total:0,
                dialogFormVisible:false,
                dialogFormVisibleAdd:false,
                formLabelWidth:'120px',
                multipleSelection: [],
                roleList: [],
                tableDataPro:[],
                ruleForm: {},
                rules: {
                    name: [
                        { required: true, message: '请输入会议室名称', trigger: 'blur' },
                    ],
                    addr: [
                        { required: true, message: '请输入会议室地点', trigger: 'blur' },
                    ],
                },
                flag:true,
            }
        },
        methods:{
            //列表查询
            initList(){
                axiosPostRequest(`/meeting-make/findPageByEmp`,this.search).then(res=>{
                    this.tableData=res.records
                    this.total=res.total
                })
            },
            handleSizeChange(val) {
                this.search.pageCount=val;
                this.initList();
            },
            handleCurrentChange(val) {
                this.search.pageNumber=val;
                this.initList();
            },
            //编辑
            handleEdit(id){
                axiosGetRequest(`/meeting-make/cancelMeeting/${id}`).then(res=>{
                    if (res.code===20000){
                        this.$message.success(res.message)
                        this.initList();
                    }else {
                        this.$message.error(res.message)
                    }
                })
            },
            //删除
            handleDelete(id){
                this.$confirm('此操作将永久删除该会议室, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                   axiosGetRequest(`/${this.controller}/deleteById/${id}`).then(res=>{
                       if (res.code===20000){
                           this.$message.success(res.message)
                           this.initList();
                       }else {
                           this.$message.error(res.message)
                       }
                   })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //跳转到添加页
            oppenAddDialog(){
                this.flag=true;
                this.form={};
                this.dialogFormVisibleAdd=true;
            },
            //新增或修改
            saveBtn(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                       if (this.flag){
                           axiosPostRequest(`/${this.controller}/save`,this.form).then(res=>{
                               if (res.code===20000){
                                   this.dialogFormVisibleAdd=false;
                                   this.$message.success(res.message)
                                   this.initList();
                               }else {
                                   this.$message.error(res.message)
                               }
                           })
                       }else {
                           axiosPostRequest(`/${this.controller}/update`,this.form).then(res=>{
                               this.dialogFormVisibleAdd=false;
                               if (res.code===20000){
                                   this.$message.success(res.message)
                                   this.initList();
                               }else {
                                   this.$message.error(res.message)
                               }
                           })
                       }
                    } else {
                        return false;
                    }
                });
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //重置查询框
            clearSearch(){
                this.search={
                    pageNumber:1,
                    pageCount:5
                }
                this.initList();
            }
        },
        created(){
            this.initList();
        }
    })
</script>